# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv/

# ML Data & Models
ml/data/output/
ml/anomaly-detection/saved_models/
ml/traffic-forecasting/saved_models/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
